<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jungle's Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('profile_page') }}">Mon Profil</a></li>
                <li><a href="{{ url_for('logout') }}">Déconnexion</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Jungle's Chat</h1>

        <div id="chat-container">
            <div id="messages-box"></div>
            <form id="chat-form">
                <input type="text" id="message-input" placeholder="Tapez votre message...">
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
</body>
</html>

